version: '3.8'

services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: revhub-jenkins
    user: root
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_data:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - ../data:/var/jenkins_home/casc_configs
    environment:
      JAVA_OPTS: "-Xmx2048m -Djava.awt.headless=true"
      JENKINS_OPTS: "--httpPort=8080"
      CASC_JENKINS_CONFIG: "/var/jenkins_home/casc_configs"
    restart: unless-stopped
    networks:
      - jenkins-network

networks:
  jenkins-network:
    driver: bridge

volumes:
  jenkins_data:
